body {
	padding-top: 10px;
}

#canvas {
	border: solid 1px black;
	/*margin: 0 auto;*/
	display: block;
	height: 85vh;
}

#controls {
	padding-top: 10px;
}

#methodSwitch {
	padding-left: 10px;
}

#col-list {
	height: 65vh;
	overflow: auto;
}